.switch {
    padding: 5px;
    border: 1px solid #c0c0c0;
    width: 60px !important;
    border-radius: 25px;
    display: flex;
    transition: .2s;
    & .button {
        width: 25px !important;
        height: 25px !important;
        border-radius: 50%;
        box-shadow: 1px 1px 10px 1px #c0c0c0;
        background-color: #ececec;
    }
    &.active {
        background-color: #00c000;
        transition: .3s;
        & .button {
            margin-left: auto;
        }
    }
}